<o-form-layout-manager attr="Car" mode="tab" title="CAR">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="CarTable" 
            service="Car" 
            entity="Car" 
            title="CAR"
            keys="id"
            columns="id;team_id;model;engine_supplier" 
            header-actions="R;D"
            visible-columns="id;team_id;model;engine_supplier"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="team_id" title="team_id">
    <o-table-cell-renderer-service attr="team_id" 
        service="Team" entity="TeamType" columns="id;name"
        parent-keys="id:team_id"
        value-column="name" keys="team_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #model attr="model" title="model" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #engine_supplier attr="engine_supplier" title="engine_supplier" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>